/* GENERAL */


*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

header{
    display: flex;
    justify-content:end;
}

.flex{
    display: flex;
}

.flexwrap{
    flex-wrap: wrap;
}

.colorWhite{
    color: white;
}

/* HEADER */

.viewConteiner{
    height: 5rem;
    justify-content:end;
    margin: 0;
    padding:10px;
}

.speakerV{
    margin: 0;
    width: 135px;
    padding: 5px;
    margin-right: 10px;
}

.greyBorder{
    background-color: #4a4a4a;
    border-radius: 5px;
    height: 30px;
}

.arrow{
    width: 30px;
    padding: 7px;
}

/* MAIN */

.contenitore{
    width: 100%;
    padding: 0 60px;
}

.contenuto{
    position: relative;
    background-image: url(https://picsum.photos/300/200);
    width: calc(100% / 7 - 10px);
    height: 200px;
    margin: 5px;
}


.nomeCognome{
    width: 90px;
    height: 25px;
    position: absolute;
    line-height: 27px;
    bottom: 0;
    padding-left: 5px;
}

.opacityBg{
    background-color:rgba(100, 114, 123, 0.3)
}


/* FOOTER */

footer{
    background-color: #222222;
    width: 100%;
}
